<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.koushikdutta.ion.test">
    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="17"/>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="com.koushikdutta.ion.test"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:debuggable="true">
        <uses-library android:name="android.test.runner"/>
    </application>
</manifest>
