<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.koushikdutta.ion.sample"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".SampleApplication"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/Theme">
        <activity
                android:name=".Twitter"
                android:label="Twitter Client Sample"/>
        <activity
                android:name=".TwitterGson"
                android:label="Twitter Gson Client Sample"/>
        <activity
                android:name=".ProgressBarDownload"
                android:label="Progress Bar Download"/>
        <activity
                android:name=".ProgressBarUpload"
                android:label="Progress Bar Upload"/>
        <activity
                android:name=".ImageSearch"
                android:label="Image Search"/>
        <activity
                android:name=".GallerySample"
                android:label="Gallery Sample"/>
        <activity
                android:name=".ImageViewSample"
                android:label="ImageView Sample"/>
        <activity
            android:name=".DeepZoomSample"
            android:label="DeepZoom Sample"/>
        <activity
            android:name=".KenBurnsSample"
            android:label="KenBurns Sample"/>
        <activity
            android:name=".RoundedImageViewSample"
            android:label="RoundedImageViewSample Sample"/>
        <activity
                android:theme="@android:style/Theme.Material.Light"
                android:name=".LollipopTransition"
                android:label="Lollipop Transition"/>
        <activity
                android:theme="@android:style/Theme.Material.Light"
                android:name=".LollipopTransitionFullscreen"
                android:label="Lollipop Transition"/>
        <activity
                android:name=".Samples"
                android:label="ion samples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
